<ion-header>
  <ion-toolbar>
    <ion-title>
      To Do
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/date.png">
      </ion-avatar>
      <ion-label>
        <h2>Stand Up</h2>
        <h3>SAX Klub</h3>
        <p>02.04.2020.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/coffee-cup.png">
      </ion-avatar>
      <ion-label>
        <h2>Kava</h2>
        <h3>Medina Škrinja</h3>
        <p>02.02.2020.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/popcorn.png">
      </ion-avatar>
      <ion-label>
        <h2>Kino</h2>
        <h3>Besmrtni ratnici</h3>
        <p>21.03.2020.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/diet.png">
      </ion-avatar>
      <ion-label>
        <h2>Restoran</h2>
        <h3>Submarine Burgers</h3>
        <p>22.02.2020.</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
